body { background-color: black; color: #CCC; }
pre { font-family: 'Monospace'; }
h1 { color: black; background-color: #CCC; display:inline; padding:5px; border: 2px solid black; -moz-border-radius: 5px; -webkit-border-radius: 5px; }