#page Advanced Haml Usage
  
  :if true
    %p This will show up!
  
  :if 0 > 1
    %p This will not show up!

  %ul.todolist
    :each item in commands
      %li= item.command

  =// message comes from global call to "helpers"
  #message
    = message()
  
  #odd
    = odd(3)
    %br
    = odd(4)